<div class="row">
    {{#if user}}
    <h1>Hola, {{user.name}}</h1>
    {{#if user.admin}}
        <h4>Permisos de administrador.</h4>
    {{/if}}
    {{#if obj}}
    <div class="card mb-3" style="width: 18rem;">
        <div class="card-title">
            <h2>Bienvenido</h2>
        </div>
    </div>
    {{else}}
    <div class="card" style="width: 18rem; height: 13rem;">
        <div class="card-title">
            <h2>Carta de no adeudos</h2>
        </div>
        {{#if adeudo}}
        <div class="card-text">
            <p>Presentas adeudos</p>
            <a href={{url.descarga}} class="btn btn-danger disabled">PDF</a>
        </div>
        {{else}}
        <div class="card-text">
            <p>No tienes adeudos</p>
            <a href={{url.descarga}} class="btn btn-danger">PDF</a>
        </div>
        {{/if}}
    </div>
    {{/if}}
    {{/if}}
    {{#each prestamos}}
        <div class="col-md-3">
             <div class="card mt-4">
                 <div class="card-body">
                     <h4 class="card-title d-flex justify-content-between align-items-center">
                         {{name}}
                     </h4>
                     <p><b>No. Inventario.</b></p>
                     <p>{{articulo}}</p>
                     <p><b>Prestamo</b></p>
                     <p>{{f_fecha}}</p>
                     <p><b>Entrega</b></p>
                     <p>{{f_entrega}}</p>
                     <p><b>Restante</b></p>
                     <p>{{../diferencia.restante}} días</p>
                    {{#if ../user.admin}}
                        <form action="/prestamos/delete/{{_id}}?_method=DELETE" method="POST">
                            <input type="hidden" name="_method" value="DELETE">
                            <button class="mb-3 btn btn-success w-100 btn-sm" type="submit">
                                Regresar
                            </button>
                        </form>
                        <form action="/prestamos/delete/{{_id}}?_method=DELETE" method="POST">
                            <input type="hidden" name="_method" value="DELETE">
                            <button class="btn btn-danger w-100 btn-sm" type="submit">
                                Borrar
                            </button>
                        </form>
                    {{/if}}
                 </div>
             </div>
        </div>
    {{else}}
        <div class="card mx-auto">
            <div class="card-body">
                <p class="lead mx-auto">No tienes prestamos activos.</p>
                <a href="/prestamos/nuevo-prestamo" class="btn btn-success btn-lg">Hacer un prestamo</a>
            </div>
        </div>
    {{/each}}
</div>
