<div class="row">
    {{#each items}}
        <div class="col-md-3">
             <div class="card mt-4">
                 {{#if img}}
                 <div class="card-img-top">
                     <img src="data:image/png;base64,{{img.pic}}" alt="picture of {{name}}" width="254" height="240">
                 </div>
                 {{else}}
                 <div class="card-img-top">
                     <img src="/pictures/notfound.png" alt="404" width="254" height="240">
                 </div>
                 {{/if}}
                 <div class="card-body">
                     <h4 class="card-title d-flex justify-content-between align-items-center">
                         {{name}} <a href="/items/edit/{{_id}}"><i class="fa-solid fa-pen-to-square"></i></a>
                     </h4>
                     <p>{{description}}</p>
                     <p>Cantidad:{{cantidad}}</p>
                     <p>Número de inventario</p>
                     <p>{{numInventario}}</p>
                     <form action="/items/delete/{{_id}}?_method=DELETE" method="POST">
                        <input type="hidden" name="_method" value="DELETE">
                        <button class="btn btn-danger w-100 btn-sm" type="submit">
                            Borrar
                        </button>
                     </form>
                 </div>
             </div>
        </div>
    {{else}}
        <div class="card mx-auto">
            <div class="card-body">
                <h1>Hola, {{user.name}}</h1>
                <p class="lead mx-auto">No hay articulos disponibles.</p>
            </div>
        </div>
    {{/each}}
</div>
