<div class="container text-center">
  <div class="card mx-auto mt-4" style="width: 42rem;">
    <div class="card-body">
      <h5 class="card-title text-center">Editar UEA</h5>
      <br />
      <img
          src="/pictures/sigeca_full.png"
          class="img-fluid mt-3 mb-3"
          alt="SIGECA"
          width="440"
          height="240"
        />
      <form action="/ueaedit/{{edit._id}}?_method=PUT" method="POST">
        <input type="hidden" name="_method" value="PUT" />
        <div class="form-group">
          <input
            type="text"
            name="uea"
            class="form-control"
            placeholder="UEA"
            id="UEA"
            value="{{edit.uea}}"
            autofocus
          />
        </div>
        <div class="form-group mt-3">
          <textarea
            name="descripcion"
            class="form-control"
            placeholder="Descripción (Opcional)"
          >{{edit.descripcion}}</textarea>
        </div>
        <div class="form-group mt-3">
          <input
            type="text"
            name="clave"
            class="form-control"
            placeholder="Clave"
            value={{edit.clave}}
          />
     <div class="row">
          <div class="col">
            <div class="form-floating mt-3">
              <select
                class="form-select text-center"
                id="floatingSelectGridDivision"
                name="division"
              >
                <option value="" disabled>Selecciona</option>
                {{#each division}}
                  <option value="{{this.name}}" {{#if (eq this.name ../edit.division)}} selected {{/if}}>
                  {{this.name}}
                {{/each}}
              </select>
              <label for="floatingSelectGridDivision">División</label>
            </div>
          </div>
        <div class="form-group">
          <button class="btn btn-primary w-100 mt-3" type="submit">
            Guardar
          </button>
        </div>
      </form>
    </div>
  </div>
</div>